.header-section{
    padding: 40px 0;
  }
  .header-logo{
    margin-right: 30px;
  }
  .header-logo h4.head-icon{
  
  }
  .svg-inline--fa {
    font-size: 18px;
  }
  .header-logo h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }
  .header-logo h4 span{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    color: gray;
  }
  .menu{}
  .menu ul{
    display: flex;
    justify-content: flex-end;
  }
  .menu ul li{
    list-style: none;
    margin-right: 30px;
  }
  .menu ul li:last-child{
    margin-right:0;
  }
  .menu ul li a{
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    text-decoration: none;
    font-weight: 600;
  }

  @media (min-width: 992px) and (max-width:1200px){
    .container{max-width:970px;}
    .header-logo{margin-right: 0;}
    .header-logo h4{font-size: 22px;}
    .header-logo h4 span{font-size: 14px;}
    .menu ul { margin-right: 10px;}
  }

@media only screen and (max-width:479px){
    .container{max-width:300px;}
    .header-logo h4 {font-size: 15px}
    .header-logo h4 span {font-size: 10px;}
    .svg-inline--fa {font-size: 14px;}
    .menu ul li {margin-right: 16px;}
    .menu ul li a{font-size: 12px;}
    .header-logo{margin-left: 30px;}
}