.skill-section{
    text-align: left;
    padding-top: 100px;
    padding-bottom: 80px;
}
.skill-section h6{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 14px;
    color: #929292;
    margin-left: 80px;
    position: relative;
}
.skill-section h6::before{
    content: '';
    position: absolute;
    background-color: #000;
    width: 67px;
    height: 3px;
    left: -8%;
    top: 6px;
}
.skill-section h4.skill-header{
    font-weight: 700;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    padding: 7px 0;
    padding-bottom: 24px;
}
.skill-left{
    margin-top: 30px;
}
.skill-left p{
    color:#929292;
    font-size: 22px;
    line-height: 28px;
    padding-bottom: 12px;
    font-weight: 400;
    padding-top: 10px;
    font-family: 'Josefin Sans', sans-serif;
    width: 81%;
}
.skill-right{
    margin-top: -38px;
}
.single-skill{
    margin-bottom: 15px;
}
.single-skill h5{
    font-size: 15px;
}

@media only screen and (max-width:479px){
    .container{max-width:300px;}
    .skill-section h6::before {left: -42%;}
    .skill-section h4 {font-size: 26px;}
    .skill-section p {font-size: 16px;line-height: 32px;width: 100%;}
    .skill-section h6 { font-size: 12px;}
    .skill-right{margin-top: 0;}
    
}